// Screen width
$desktop: 1920px;
$tablet: 768px;
$phone: 320px;

// Colors

$primary-color: #9564AA;
$secondary-color: #FFCF2D;
$background-color: #FFFFFF;
$counter-color: #C15CA1;
$text-color: #000000;

$font-family: "Ubuntu", "Arial", sans-serif;
