// Screen width
$desktop: 1920px;
$tablet: 768px;
$phone: 320px;

// Colors

$primary-color: #9564aa;
$secondary-color: #ffcf2d;
$background-color: #ffffff;
$counter-color: #c15ca1;
$text-color: #000000;

$font-family: "Ubuntu", "Arial", sans-serif;
